@{
    Usuario usuario = RedSocial.ViewModel.LayoutViewModel.ObtenerUsuarioLogeado(); // Usuario en Session
    List<Usuario> Usuarios = LayoutViewModel.ListarUsuariosAlAzar(); // Programadores
}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Assets/favicon.ico" />

    <!-- META INFO -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Una Red Social Para Programadores" />
    <meta name="generator" content="Hermes CMS" />

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/js/datepicker/css/datepicker.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

    <script>
        function base_url(url)
        {
            return '@(Url.Content("~/"))' + url;
        }
        function redirect(href) {
                window.location.href = '@(Url.Content("~/"))' + href;
        }
    </script>

    <div class="container">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/inicio">Mi Red Social</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@usuario.Nombre <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/usuario/perfil">Modificar Mis Datos</a></li>
                                <li class="divider"></li>
                                <li><a href="~/usuario/logout">Desconectarme</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        @if (usuario.Sexo == null || usuario.FechaNacimiento == null)
        {
            <div class="alert alert-warning text-center">Su perfil no esta completado, haga click en <a href="~/usuario/perfil"><b>este enlace</b></a> para hacerlo ahora.</div>
        }

        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Mi Perfil</div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <a href="~/usuario/ver/@usuario.id">
                                <img src="~/Uploads/@usuario.Foto.Foto2" alt="@usuario.Nombre" />
                            </a>
                        </div>
                        <ul class="list-unstyled">
                            <li><b>Nombre</b>: @usuario.Nombre</li>
                            @if (usuario.FechaNacimiento != null)
                            {
                                <li>
                                    <b>Edad</b>: @(ViewHelper.GetAge(usuario.FechaNacimiento)) años
                                </li>
                            }
                            @if (usuario.Sexo > 0)
                            {
                                <li>
                                    <b>Sexo</b>: @(usuario.Sexo == 1 ? "Hombre" : "Mujer")
                                </li>
                            }
                            @if (usuario.UsuarioConocimientos != null)
                            {
                                <li>
                                    <b>Conocimientos</b>: @usuario.UsuarioConocimientos.Count()
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="panel-heading">Otros Programadores</div>
                    <div class="panel-body">
                        <div class="row">
                            @foreach (var u in Usuarios)
                            {
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <a href="~/usuario/ver/@u.Url">
                                            <img src="~/Uploads/@u.Foto.Foto3" alt="@u.Nombre" title="@u.Nombre" />
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                @RenderBody()
            </div>
        </div>

    </div>

    <hr />

    <div class="text-center">Desarrollado por <b><a href="http://www.anexsoft.com" target="_blank">Anexsoft</a></b> a modo de enseñanza.</div>

    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery.form.js"></script>
    <script src="~/Assets/js/ini.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Assets/js/datepicker/js/bootstrap-datepicker.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>